{% extends "skeleton.html.twig" %}

{% block title %}
 
{% endblock title %}


{% block content %}

<div class="container-fluid mx-auto" id="card-about">
    <div class="col-md-8">
      <div class="card mb-4">
        <h1 class="card-header text-center">{{article.titre}}</h1>
        <img style="height: 250 px; width: 95%; display: block;" src="{{asset('image/show.jpg')}}" alt="Card image" class="img mx-auto mt-4 mb-2">
        <div class="card-body">
          <p class="card-text mt-2" id="show-article">{{article.commentaire}} </p>
        </div>
       
       
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{article.date.format("Y/m/d")}}</li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
        <a class="btn btn-outline-info" href="{{path('update', {id:article.id})}}">Update Article</a></li>
        </ul>   
      </div>
    </div>
  </div>
  

  {% endblock content %}