body {
  font-family:"trebuchet ms",sans-serif;
  /* font-size:90%; */
  background-color: rgb(255, 255, 255);
  }
  /* Début du formulaire */
   #connect-title{
    color: rgb(252, 246, 246);
    border:1px solid #5AA1F9;
    background-color: #5AA1F9;
    text-align: center;
    font-family: 'Della Respira', serif;
    border-radius: 10px 100px / 120px;
  }

  #btn{
    display: flex;
    justify-content: center;
    
  }

  .cadre{
    border: 1px solid#5AA1F9;
    border-radius:  30px;
  }
  /* Fin du formulaire */

 

#navbar{
  opacity: 0.9;
  box-shadow: 1px 1px 5px rgb(63, 65, 63);
}


.carousel-inner{
  height:auto;
  width: 95%;
  overflow: hidden;
}

#add {
  margin-top: 150px;
  margin-bottom: 105px;
}
#update {
  margin-top: 150px;
  margin-bottom: 105px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#card-about {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
#show-article{
  white-space: pre-line;
}