{% extends "skeleton.html.twig" %}

{% block title %}
 <title> Space Blog</title> 
{% endblock title %}


  

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner mx-auto">
    <div class="carousel-item active">
      <img class="d-block w-100" src=" {{asset('image/aurore.jpg')}} " alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('image/g1.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{asset('image/g2.jpg')}}" alt="Third slide">
    </div>

    <div class="carousel-item">
        <img class="d-block w-100" src="{{asset('image/g3.jpg')}}" alt="Third slide">
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="articles"><h1 class="text-center mt-3 mb-3">ARTICLES</h1> </div>
<hr>

<div class="container-fluid">
  <div class="row">
  {% for row in result %} 
 
  
  
    <div class="jumbotron col-10 mx-auto">
      <h3 class="display-4 text-center"> {{row.titre}}</h3>
      
      <hr class="my-4">
      <p>{{row.commentaire[:500]}}...</p>
      <p class="lead">{{row.date.format("Y-m-d h:i:s")}}</p>
      <p class="lead">
        <a class="btn btn-secondary" href="{{path('article_page', {id:row.id})}}">Read article</a>
         <a class="btn btn-success ml-2" href="{{path('remove_article', {id:row.id})}}">Remove article</a>
      
       
      </p>
    </div>
   
  
  {% endfor %}
  
  </div>
</div>



{% endblock content %}
