{% extends "skeleton.html.twig" %}

{% block title %}
  Connexion
{% endblock title %}

{% block content %}
<div>
  <h1 class="col-md-5 mx-auto" id="connect-title">Connexion</h1>
  </div>
  
  
    <form  method="POST" action=" {{path('form')}} " class="form-group cadre col-md-5 mx-auto ">
 
  
  <div class="form-group col-md-6 mx-auto">
    <label for="username">Username:</label>
  <input class="form-control " type="text" placeholder="Username" name="username">
  </div>
  
  <div class="form-group col-md-6 mx-auto">
    <label for="email">Email:</label>
  <input class="form-control " type="email" placeholder="Email" name="email">
  </div>
  
 
  
  <div class="form-group col-md-6 mx-auto">
    <label for="pswd">Password:</label>
  <input class="form-control " type="password" placeholder="Password" name="pswd">
  </div>
  
  <div>
  <button class="btn-outline-primary mx-auto" id="btn">Sign in</button>
  </div>
  
    </form>
{% endblock content %}