<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
  <link rel="stylesheet" href=" {{asset('css/style.css')}} ">
  <link href="https://fonts.googleapis.com/css?family=Della+Respira" rel="stylesheet">
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css">
  <link rel="shortcut icon" href="{{asset('image/favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{asset('image/favicon.ico')}}" type="image/x-icon"
  <title> {% block title %}
    
  {% endblock title %}</title>
</head>
<body>
  {% block header %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
        
        <i class="fas fa-globe" id="nav-icon"></i>
        <a class="navbar-brand" href="{{path("home")}}"> <strong>Space</strong> Blog</a>
    

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{{path('article')}}">Add Article</a>
                </li>

               
              </ul>
              
            </div>
         
   
  



      </nav>

    </header>
  {% endblock header %}
  


{% block content %}
  
{% endblock content %}



<footer class="py-5  bg-dark">
  <div class="container">
      <p class="m-0 text-center text-white" id="footer-first"> &copy;Space Blog 2018</p>
      
     
  </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
</body>
</html>