{% extends 'skeleton.html.twig' %}

{% block title %} <title> Add Article</title>  {% endblock %}


{% block content  %}
<div class="col-md-6 mx-auto" id="add">
  <h3>Add Article </h3>
  {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">submit</button>

{{ form_end(form) }}
</div>
{% endblock content  %}







